<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>HomeController</title>
		<#include "/common/meta.html"/>
		<script type="text/javascript" src="${ctx}/resources/scripts/jquery-1.7.2/jquery-1.7.2.js"></script>
		<script type="text/javascript">
			function test() {
				$.ajax({
					url : '${ctx}/home/springBean/myBatisDao',
					dataType : "json",
					success : function(json) {
						alert(json.message);
					},
					error : function(xhr) {
						alert(xhr);
					}
				});
				return false;
			}
		</script>
	</head>
	<body>
		<hr>
		<a href="${ctx}/user">点击链接1，执行UserController</a></TD>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="${ctx}/role">点击链接2，执行RoleController</a>
		<hr>
		<a id="springBean" href="#"  onclick="test();">获取sqlSessionFactory的bean</a>
		<hr>
		<a href="${ctx}/login/goLogin">去登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="${ctx}/login/out">登出</a>
		<hr>
		<a href="${ctx}/testException">testException</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="${ctx}/testException/testBusinessException">testBusinessException</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="${ctx}/testException/testParameterException?name=abc">testParameterException</a>
		<a href="${ctx}/testException/validatePara?name=abc">testParameterException</a>
	</body>
</html>