<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<#include "/common/meta.html"/>
	</head>
	<body>
		<div>
			<form class="form-horizontal" action="${ctx}/login/signin">
			  <div class="control-group">
			    <label class="control-label" for="inputEmail">账号:</label>
			    <div class="controls">
			      <input type="text" id="inputEmail" placeholder="账号">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">密码:</label>
			    <div class="controls">
			      <input type="password" id="inputPassword" placeholder="密码">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <input type="submit" class="btn" value="登录" />
			    </div>
			  </div>
			</form>
		</div>
	</body>
</html>