<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>角色查看</title>
		<#include "/common/meta.html"/>
		<script type="text/javascript">
		</script>
	</head>
	<body>
		<h1>这是RoleController的role_view.html</h1>
		<div>
			<table width="60%" border="0" cellpadding="3" cellspacing="1">
				<tr>
					<td width="15%">角色名:</td>
					<td>${entity.name}</td>
				</tr>
			</table>
		</div>
		<div>
			<h3><a href="${ctx}/role">返回</a></h3>
		</div>
	</body>
</html>