<#assign ctx=(rc.getContextPath())!''>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-store"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>HomeController</title>
 <!-- Styles --> 
<link type="text/css" href="${ctx}/resources/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link type="text/css" href="${ctx}/resources/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />