<div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container">
         <a class="brand" href="#">安全生产中心</a>
         <div class="nav-collapse collapse">
           <ul class="nav">
             <li class="active">
               <a href="#infomation" onclick="changeStyle('infomation');"><i class="icon-envelope"></i>   最新通知</a>
             </li>
             <li class="">
               <a href="#software" onclick="changeStyle('software');"><i class="icon-download-alt"></i>   软件下载</a>
             </li>
             <li class="">
               <a href="#documents" onclick="changeStyle('documents');"><i class="icon-book"></i>   文档下载</a>
             </li>
           </ul>
         </div>
       </div>
     </div>
</div>
<hr>
<div class="container">
<section id='infomation'>
			<h4><i class="icon-envelope"></i>   通知信息</h4>
			<table class="table table-bordered  table-striped">
	              <thead>
	                <tr>
	                  <th width="50">序号</th>
	                  <th  width="120">发布时间</th>
	                  <th width="300">通知标题</th>
	                  <th>通知内容</th>
	                </tr>
	              </thead>
	              <tbody>
	                <tr>
	                  <td>1</td>
	                  <td>Mark</td>
	                  <td>Otto</td>
	                  <td>@mdo</td>
	                </tr>
	                <tr>
	                  <td>2</td>
	                  <td>Jacob</td>
	                  <td>Thornton</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>3</td>
	                  <td>Jacob</td>
	                  <td>Larry the Bird</td>
	                  <td>@twitter</td>
	                </tr>
	                <tr>
	                  <td>1</td>
	                  <td>Mark</td>
	                  <td>Otto</td>
	                  <td>@mdo</td>
	                </tr>
	                <tr>
	                  <td>2</td>
	                  <td>Jacob</td>
	                  <td>Thornton</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>3</td>
	                  <td>Jacob</td>
	                  <td>Larry the Bird</td>
	                  <td>@twitter</td>
	                </tr>
	                <tr>
	                  <td>1</td>
	                  <td>Mark</td>
	                  <td>Otto</td>
	                  <td>@mdo</td>
	                </tr>
	                <tr>
	                  <td>2</td>
	                  <td>Jacob</td>
	                  <td>Thornton</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>3</td>
	                  <td>Jacob</td>
	                  <td>Larry the Bird</td>
	                  <td>@twitter</td>
	                </tr>
	                <tr>
	                  <td>1</td>
	                  <td>Mark</td>
	                  <td>Otto</td>
	                  <td>@mdo</td>
	                </tr>
	                <tr>
	                  <td>2</td>
	                  <td>Jacob</td>
	                  <td>Thornton</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>3</td>
	                  <td>Jacob</td>
	                  <td>Larry the Bird</td>
	                  <td>@twitter</td>
	                </tr>
	                <tr>
	                  <td>1</td>
	                  <td>Mark</td>
	                  <td>Otto</td>
	                  <td>@mdo</td>
	                </tr>
	                <tr>
	                  <td>2</td>
	                  <td>Jacob</td>
	                  <td>Thornton</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>3</td>
	                  <td>Jacob</td>
	                  <td>Larry the Bird</td>
	                  <td>@twitter</td>
	                </tr>
	              </tbody>
	       </table>
</section>
<section id='software'>
			<h4><i class="icon-download-alt"></i>   软件下载</h4>
			<table class="table table-bordered  table-striped">
	              <thead>
	                <tr>
	                  <th width="50">序号</th>
	                  <th width="300">软件名称</th>
	                  <th width="100">语言</th>
	                  <th>说明</th>
	                  <th  width="120">发布时间</th>
	                </tr>
	              </thead>
	              <tbody>
	                <tr>
	                  <td>1</td>
	                  <td>Mark</td>
	                  <td>Otto</td>
	                  <td>@mdo</td>
	                  <td>@mdo</td>
	                </tr>
	                <tr>
	                  <td>2</td>
	                  <td>Jacob</td>
	                  <td>Thornton</td>
	                  <td>@fat</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>3</td>
	                  <td>Jacob</td>
	                  <td>Larry the Bird</td>
	                  <td>@twitter</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>1</td>
	                  <td>Mark</td>
	                  <td>Otto</td>
	                  <td>@mdo</td>
	                  <td>@mdo</td>
	                </tr>
	                <tr>
	                  <td>2</td>
	                  <td>Jacob</td>
	                  <td>Thornton</td>
	                  <td>@fat</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>3</td>
	                  <td>Jacob</td>
	                  <td>Larry the Bird</td>
	                  <td>@twitter</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>1</td>
	                  <td>Mark</td>
	                  <td>Otto</td>
	                  <td>@mdo</td>
	                  <td>@mdo</td>
	                </tr>
	                <tr>
	                  <td>2</td>
	                  <td>Jacob</td>
	                  <td>Thornton</td>
	                  <td>@fat</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>3</td>
	                  <td>Jacob</td>
	                  <td>Larry the Bird</td>
	                  <td>@twitter</td>
	                  <td>@fat</td>
	                </tr>
	              </tbody>
	       </table>
</section>
<section id='documents'>
			<h4><i class="icon-book"></i>   文档下载</h4>
			<table class="table table-bordered  table-striped">
	              <thead>
	                <tr>
	                  <th width="50">序号</th>
	                  <th width="300">文档名称</th>
	                  <th>说明</th>
	                  <th  width="120">发布时间</th>
	                </tr>
	              </thead>
	              <tbody>
	                <tr>
	                  <td>1</td>
	                  <td>Mark</td>
	                  <td>Otto</td>
	                  <td>@mdo</td>
	                </tr>
	                <tr>
	                  <td>2</td>
	                  <td>Jacob</td>
	                  <td>Thornton</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>3</td>
	                  <td>Jacob</td>
	                  <td>Larry the Bird</td>
	                  <td>@twitter</td>
	                </tr>
	                <tr>
	                  <td>1</td>
	                  <td>Mark</td>
	                  <td>Otto</td>
	                  <td>@mdo</td>
	                </tr>
	                <tr>
	                  <td>2</td>
	                  <td>Jacob</td>
	                  <td>Thornton</td>
	                  <td>@fat</td>
	                </tr>
	                <tr>
	                  <td>3</td>
	                  <td>Jacob</td>
	                  <td>Larry the Bird</td>
	                  <td>@twitter</td>
	                </tr>
	              </tbody>
	       </table>
</section>
</div>